@import "utilities";

.notification {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  @extend %antialiased;
  @extend %small-caps;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 20px 15px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;

  p {
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.71429;
  }

  span {
    display: inline-block;
    padding-bottom: 2px;
    max-width: 568px;

    @include respond-below(large) {
      margin: 10px 0;
    }
  }

  button {
    @include icon("close", 1rem, 1rem);
    display: inline-block;
    padding-top: 3px;
    margin: 0 10px;
    background-color: transparent;
    vertical-align: top;
    cursor: pointer;
    border: none;

    @include respond-below(large) {
      display: block;
      margin: 0 auto;
    }
  }
}

.notification--is-closed {
  display: none;
}
